body{
    margin: 0;
    padding: 0;
    background-color:aqua;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    color: black;
    width: 400;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}